@font-face {
  font-family: space-x;
  src: url(./assets/spacex-font.ttf);
}

#container {
  padding-left: 50px;
  background: black;
  background-color: black;
  color: white;
  text-align: left;
}

#logo {
  padding: 50px;
  width: 50%;
}


